@use './sections' as *;

.story {
  margin-inline: auto;
  padding-inline: 20px;
  padding-block: $section-space 150px;
  text-align: center;
  overflow: hidden;
  position: relative;

  .shape {
    display: none;
  }


  &_container {
    display: grid;
    row-gap: 140px;

  }

  &_title {
    @extend %sectionTitle;
  }

  &_seperator {
    @extend %sectionTitleSeperator;
  }

  h1 {
    font-family: "Forum", cursive;
    font-weight: 400;
    margin-block: 25px;
    font-size: $fontSize-headline-1;
  }

  &_description {
    line-height: $lineHeight-5;
    margin-bottom: 25px;
  }

  span {
    font-weight: $weight-bold;
    margin-bottom: 7px;
    font-size: 16px;
  }

  &_number {
    font-size: $fontSize-body-1;
    color: $gold-crayola;
    margin-inline: auto;
    @include linesUnder(-7px);
    margin-bottom: 30px;
  }

  button {
    text-transform: uppercase;
    width: fit-content;
    margin-inline: auto;
    @include btn(transparent,$gold-crayola,$gold-crayola,$smoky-black-1,'read more')
  }


  .child2 {
    position: relative;
    margin-inline: auto;
    &::after {
      content: '';
      position: absolute;
      width: 30%;
      height: 60%;
      bottom: -27.7%;
      left: 2.5%;
      z-index: 2;
      background: url(../../imgs/img-pattern.svg);
    }
    .mainImg {
      width: 90%;
      margin-left: auto;
      z-index: 1;
    }
    .spamImg {
      position: absolute;
      width: 35%;
      bottom: -17.5%;
      z-index: 3;
    }

    .circle {
      position: absolute;
      top: calc(-133px / 2);
      right: 0;
    }

    .circleText {
      position: absolute;
      top: -66px;
      right: 0;
      animation: rotate360 10s linear infinite ;
    }



  }


}


@media (max-width:400px) {
  .story {
    padding-block-end: 145px;
  }
}

@media (min-width:450px) and (max-width:549px) {
  .story {
    padding-block-end: 200px;
  }
}

@media (min-width:550px) and (max-width:1099px) {
  .story {
    padding-block-end: 220px;
  }
}

@media (min-width: 575px) {
  .story {
    &_description {
      max-width: 420px;
      margin-inline: auto;
    }
  }
}

@media (min-width: 800px) and (max-width:799px){
  .story {
    .child2 {
      width: 700px;
    }
  }
}

@media (min-width: 750px) and (max-width:1099px) {
  .story {
    .child2 {
      .mainImg {
        width: 100%;
      }

      .spamImg {
        width: 45%;
        left: -10%;
      }

      &::after {
        bottom: -25.5%;
        left: -2.5%;
      }
    }
  }
}


@media (min-width: 1100px) {
  .story {
    padding-inline: 40px;
    padding-block: 100px 190px;


    &_description {
      max-width: 375px;
    }


    h1 {
      font-size: $fontSize-headline-1;
      max-width: 340px;
      margin-inline: auto;
    }

    &_container {
      display: flex;
      width: fit-content;
      column-gap: 200px;
      margin-inline: auto;
      align-items: center;
    }


    .child2 {
      margin-inline: initial;
      .mainImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .spamImg {
        width: 50%;
        bottom: -15%;
        left: -94px;
      }

      &::after {
        width: 25%;
        height: 70%;
        bottom: -24.5%;
        left: -24px;
      }
    }

    .child1 {
      width: fit-content;
      margin-left: auto;
      min-width: 340px;
      transform: translateY(47px);
    }
  }
}


@media (min-width: 1400px) {
  .story {
    .shape {
      display: block;
      position: absolute;
      bottom: 20%;
      left: 5px;
    }
  }
}